# PANDAS LIBRARY

In [1]:
import pandas as pd

In [2]:
#create pandas series
#Labels -Index by default starts with 0
a=["python","java","sql"]
se = pd.Series(a)
se

0    python
1      java
2       sql
dtype: object

In [3]:
#create pandas series with custom labels
a=["python","java","sql"]
se = pd.Series(a,index=['code1','code2','code3'])
se

code1    python
code2      java
code3       sql
dtype: object

In [4]:
#Create a Pandas Series from a dictionary
data = {"a":['p','y','t','h','o','n'],"b":['j','a','v','a']}
se = pd.Series(data)
se

a    [p, y, t, h, o, n]
b          [j, a, v, a]
dtype: object

In [5]:
#Create a Pandas Series from a dictionary with specific keys
data = {"a":['p','y','t','h','o','n'],"b":['j','a','v','a'],"c":['s','q','l']}
se = pd.Series(data, index=['a','c'])
se

a    [p, y, t, h, o, n]
c             [s, q, l]
dtype: object

In [6]:
#create a dataframe from two series
data = {"a":[5,4,3,2,1],"b":[10,9,8,7,6]}
df = pd.DataFrame(data)
df

   a   b
0  5  10
1  4   9
2  3   8
3  2   7
4  1   6

In [7]:
#specify the order of columns and define the index of the dataframe
df = pd.DataFrame({'program_id':[100, 101, 102], 'program':["python","java","sql"]},columns=['program_id','program'],index=['a','b','c'])
df

   program_id program
a         100  python
b         101    java
c         102     sql

In [8]:
# create a DataFrame from a list of lists 
pd.DataFrame([['a', 'car'], ['b', 'bike'], ['c', 'bus']], columns=['id', 'vehicle'])

  id vehicle
0  a     car
1  b    bike
2  c     bus

In [9]:
# create a NumPy array 
import numpy as np
arr = np.random.rand(6, 4)
arr

array([[0.58563419, 0.82077131, 0.48436059, 0.47092877],
       [0.86396594, 0.71291656, 0.00274488, 0.23452656],
       [0.95109004, 0.60644434, 0.69664859, 0.79885818],
       [0.11992007, 0.84661315, 0.02463836, 0.47811871],
       [0.49431459, 0.85475292, 0.89194055, 0.65850813],
       [0.78391439, 0.53011167, 0.59533721, 0.64839308]])

In [10]:
# create a DataFrame from the NumPy array
pd.DataFrame(arr, columns=['one', 'two','three','four'])

        one       two     three      four
0  0.585634  0.820771  0.484361  0.470929
1  0.863966  0.712917  0.002745  0.234527
2  0.951090  0.606444  0.696649  0.798858
3  0.119920  0.846613  0.024638  0.478119
4  0.494315  0.854753  0.891941  0.658508
5  0.783914  0.530112  0.595337  0.648393

In [11]:
data = {"num1":[1,2,3],"num2":[4,5,6]}
df = pd.DataFrame(data)
df

   num1  num2
0     1     4
1     2     5
2     3     6

In [12]:
#loc attribute to return one or more specified rows- returns a series
df.loc[1]

num1    2
num2    5
Name: 1, dtype: int64

In [13]:
#return 0 and 1- returns a dataframe
df.loc[[1,2]]

   num1  num2
1     2     5
2     3     6

In [14]:
#use custom labels for dataframe
data = {"a":[1,2,3],"b":[4,5,6]}
df = pd.DataFrame(data,index=['list1','list2','list3'])
df

       a  b
list1  1  4
list2  2  5
list3  3  6

In [15]:
#Locate Named Indexes-returns series
df.loc['list2']

a    2
b    5
Name: list2, dtype: int64

In [16]:
#Locate Named Indexes-returns datadrame
df.loc[['list1','list3']]

       a  b
list1  1  4
list3  3  6

# LOAD FILES INTO DATAFRAMES USING PANDAS

In [17]:
#Read from url
url = 'https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'
pd.read_csv(url)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [18]:
df=pd.read_csv("https://raw.githubusercontent.com/santhulak/Datascience/main/Chennai.csv")

In [19]:
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0

# Analysing Data

In [20]:
#To display first 10 rows of the DataFrame
df.head(10)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
5,2950000,576,Mevalurkuppam,1,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
6,7600000,1207,Kolapakkam,3,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
7,2234000,604,Kundrathur,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5521000,986,Pammal,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,6321000,1345,Puzhal,3,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0

In [21]:
#To display last 10 rows of the DataFrame
df.tail(25)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
4989,3486000,1000,Ambattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4990,4161999,821,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4991,2999000,775,tambaram east,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4992,2900000,840,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4993,7051000,925,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4994,4796000,705,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4995,4100000,806,Perungalathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4996,3496000,1439,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4997,3601000,1090,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4998,7500000,925,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4999,2513000,760,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5000,8000000,783,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5001,14000000,1100,Vadapalani,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5002,4000000,577,Vandalur,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5003,6800000,1190,Mogappair,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5004,5400000,1400,Palavakkam,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5005,4600000,720,Sunnambu Kolathur S Kolathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5006,7834999,1285,Sunnambu Kolathur S Kolathur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5007,3000000,943,Sunnambu Kolathur S Kolathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5008,11100000,800,Sunnambu Kolathur S Kolathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5009,7834999,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5010,2408000,740,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5012,3400000,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5013,4500000,688,Selaiyur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [22]:
#display information about the data- 5 empty values in calories columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5014 entries, 0 to 5013
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                5014 non-null   int64
 1   Area                 5014 non-null   int64
 2   Location             5014 non-null   object
 3   No. of Bedrooms      5014 non-null   int64
 4   Resale               5014 non-null   int64
 5   MaintenanceStaff     5014 non-null   int64
 6   Gymnasium            5014 non-null   int64
 7   SwimmingPool         5014 non-null   int64
 8   LandscapedGardens    5014 non-null   int64
 9   JoggingTrack         5014 non-null   int64
 10  RainWaterHarvesting  5014 non-null   int64
 11  IndoorGames          5014 non-null   int64
 12  ShoppingMall         5014 non-null   int64
 13  Intercom             5014 non-null   int64
 14  SportsFacility       5014 non-null   int64
 15  ATM                  5014 non-null   int64
 16  ClubHouse            5014 non-null   int64
 17  School               5014 non-null   int64
 18  24X7Security         5014 non-null   int64
 19  PowerBackup          5014 non-null   int64
 20  CarParking           5014 non-null   int64
 21  StaffQuarter         5014 non-null   int64
 22  Cafeteria            5014 non-null   int64
 23  MultipurposeRoom     5014 non-null   int64
 24  Hospital             5014 non-null   int64
 25  WashingMachine       5014 non-null   int64
 26  Gasconnection        5014 non-null   int64
 27  AC                   5014 non-null   int64
 28  Wifi                 5014 non-null   int64
 29  Children'splayarea   5014 non-null   int64
 30  LiftAvailable        5014 non-null   int64
 31  BED                  5014 non-null   int64
 32  VaastuCompliant      5014 non-null   int64
 33  Microwave            5014 non-null   int64
 34  GolfCourse           5014 non-null   int64
 35  TV                   5014 non-null   int64
 36  DiningTable          5014 non-null   int64
 37  Sofa                 5014 non-null   int64
 38  Wardrobe             5014 non-null   int64
 39  Refrigerator         5014 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [23]:
df.describe()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
count,5.014000e+03,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,...,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000
mean,8.731264e+06,1232.992022,2.362984,0.097128,5.000997,5.213602,5.160949,5.114878,5.123055,5.115277,...,5.264260,4.999402,5.068010,4.997208,4.991823,5.009174,5.011767,4.998404,4.991823,5.009174
std,1.034261e+07,641.841841,0.705252,0.296162,4.464256,4.239118,4.296954,4.346406,4.337706,4.345983,...,4.182092,4.465864,4.395648,4.468074,4.473489,4.455995,4.453369,4.466869,4.473489,4.455995
min,2.000000e+06,362.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.095000e+06,865.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.782000e+06,1067.000000,2.000000,0.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
75%,8.675000e+06,1438.750000,3.000000,0.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,1.900000e+08,7240.000000,5.000000,1.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [24]:
#display the datatype using dtype attribute
df.dtypes

Price                   int64
Area                    int64
Location               object
No. of Bedrooms         int64
Resale                  int64
MaintenanceStaff        int64
Gymnasium               int64
SwimmingPool            int64
LandscapedGardens       int64
JoggingTrack            int64
RainWaterHarvesting     int64
IndoorGames             int64
ShoppingMall            int64
Intercom                int64
SportsFacility          int64
ATM                     int64
ClubHouse               int64
School                  int64
24X7Security            int64
PowerBackup             int64
CarParking              int64
StaffQuarter            int64
Cafeteria               int64
MultipurposeRoom        int64
Hospital                int64
WashingMachine          int64
Gasconnection           int64
AC                      int64
Wifi                    int64
Children'splayarea      int64
LiftAvailable           int64
BED                     int64
VaastuCompliant         int64
Microwave               int64
GolfCourse              int64
TV                      int64
DiningTable             int64
Sofa                    int64
Wardrobe                int64
Refrigerator            int64
dtype: object

In [25]:
#display the shape of the dataframe
df.shape

(5014, 40)

In [26]:
df.describe

<bound method NDFrame.describe of          Price  Area                       Location  No. of Bedrooms  Resale  \
0      5500000  1310                  Perungalathur                3       0
1      5350000  1126                     Madhavaram                2       0
2      8205000  1307                     Karapakkam                3       0
3     23400000  3600                 Thiruvidandhai                3       0
4     10100000  1700                 Iyappanthangal                3       0
...        ...   ...                            ...              ...     ...
5009   7834999  1599                       Korattur                3       0
5010   2408000   740                       Ambattur                2       0
5011   5500000  1700  Pallikaranai VGP Shanti Nagar                3       0
5012   3400000  1599                       Korattur                3       0
5013   4500000   688                       Selaiyur                2       0

      MaintenanceStaff  Gymnasium  SwimmingPool  LandscapedGardens  \
0                    0          0             0                  0
1                    0          1             1                  1
2                    0          1             1                  1
3                    0          1             1                  0
4                    0          1             1                  1
...                ...        ...           ...                ...
5009                 9          9             9                  9
5010                 9          9             9                  9
5011                 9          9             9                  9
5012                 9          9             9                  9
5013                 9          9             9                  9

      JoggingTrack  ...  LiftAvailable  BED  VaastuCompliant  Microwave  \
0                0  ...              0    0                0          0
1                0  ...              1    0                0          0
2                1  ...              0    0                0          0
3                1  ...              0    0                0          0
4                1  ...              0    0                1          0
...            ...  ...            ...  ...              ...        ...
5009             9  ...              9    9                9          9
5010             9  ...              9    9                9          9
5011             9  ...              9    9                9          9
5012             9  ...              9    9                9          9
5013             9  ...              9    9                9          9

      GolfCourse  TV  DiningTable  Sofa  Wardrobe  Refrigerator
0              0   0            0     0         0             0
1              0   0            0     0         0             0
2              0   0            0     0         0             0
3              0   0            0     0         0             0
4              0   0            0     0         0             0
...          ...  ..          ...   ...       ...           ...
5009           9   9            9     9         9             9
5010           9   9            9     9         9             9
5011           9   9            9     9         9             9
5012           9   9            9     9         9             9
5013           9   9            9     9         9             9

[5014 rows x 40 columns]>

# Cleaning Data

# - Empty cells

# - Data in wrong format

# - Wrong data

# - Duplicates

In [29]:
#Step 1: Analyse the data set for bad data.
df = pd.read_csv("https://raw.githubusercontent.com/santhulak/Datascience/main/Chennai.csv")
df

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,7834999,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5010,2408000,740,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5012,3400000,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5013,4500000,688,Selaiyur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [31]:
#Step2: Remove empty cells
#dropna() method returns a new DataFrame, it will not change the original.
new_df = df.dropna()
df

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,7834999,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5010,2408000,740,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5012,3400000,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5013,4500000,688,Selaiyur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [39]:
df.head(40)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
5,2950000,576,Mevalurkuppam,1,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
6,7600000,1207,Kolapakkam,3,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
7,2234000,604,Kundrathur,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5521000,986,Pammal,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,6321000,1345,Puzhal,3,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0
10,3404000,510,Selaiyur,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11600000,1508,Thoraipakkam OMR,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
12,6536000,1245,Karapakkam,2,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
13,24200000,1565,Anna Nagar,3,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
14,8162000,1306,Mogappair,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,6190000,1113,Sholinganallur,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,9613000,1479,Mogappair,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
17,7542000,1640,Sholinganallur,3,0,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
18,6338000,1112,Medavakkam,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2724000,645,Avadi,2,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
20,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
22,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
23,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
24,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
25,2950000,576,Mevalurkuppam,1,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
26,7600000,1207,Kolapakkam,3,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
27,2234000,604,Kundrathur,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,5521000,986,Pammal,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,6321000,1345,Puzhal,3,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0
30,3404000,510,Selaiyur,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,11600000,1508,Thoraipakkam OMR,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
32,6536000,1245,Karapakkam,2,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
33,24200000,1565,Anna Nagar,3,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
34,8162000,1306,Mogappair,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
35,6190000,1113,Sholinganallur,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
36,9613000,1479,Mogappair,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
37,7542000,1640,Sholinganallur,3,0,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
38,6338000,1112,Medavakkam,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,2724000,645,Avadi,2,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [40]:
#fix wrong values for a specific row
df.loc[27,'No. of Bedrooms']=1
df.head(40)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
5,2950000,576,Mevalurkuppam,1,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
6,7600000,1207,Kolapakkam,3,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
7,2234000,604,Kundrathur,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5521000,986,Pammal,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,6321000,1345,Puzhal,3,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0
10,3404000,510,Selaiyur,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11600000,1508,Thoraipakkam OMR,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
12,6536000,1245,Karapakkam,2,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
13,24200000,1565,Anna Nagar,3,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
14,8162000,1306,Mogappair,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,6190000,1113,Sholinganallur,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,9613000,1479,Mogappair,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
17,7542000,1640,Sholinganallur,3,0,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
18,6338000,1112,Medavakkam,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2724000,645,Avadi,2,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
20,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
22,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
23,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
24,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
25,2950000,576,Mevalurkuppam,1,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
26,7600000,1207,Kolapakkam,3,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
27,2234000,604,Kundrathur,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,5521000,986,Pammal,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,6321000,1345,Puzhal,3,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0
30,3404000,510,Selaiyur,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,11600000,1508,Thoraipakkam OMR,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
32,6536000,1245,Karapakkam,2,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
33,24200000,1565,Anna Nagar,3,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
34,8162000,1306,Mogappair,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
35,6190000,1113,Sholinganallur,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
36,9613000,1479,Mogappair,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
37,7542000,1640,Sholinganallur,3,0,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
38,6338000,1112,Medavakkam,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,2724000,645,Avadi,2,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [44]:
#Identify duplicate rows-Returns True if a row is duplicated
df.head(40).duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27    False
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
dtype: bool

In [49]:
#Identify duplicate rows-Returns True if a row is duplicated
df.drop_duplicates(inplace=True)

In [50]:
df.head(40)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
5,2950000,576,Mevalurkuppam,1,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
6,7600000,1207,Kolapakkam,3,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
7,2234000,604,Kundrathur,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5521000,986,Pammal,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,6321000,1345,Puzhal,3,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0
10,3404000,510,Selaiyur,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11600000,1508,Thoraipakkam OMR,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
12,6536000,1245,Karapakkam,2,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
13,24200000,1565,Anna Nagar,3,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
14,8162000,1306,Mogappair,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,6190000,1113,Sholinganallur,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,9613000,1479,Mogappair,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
17,7542000,1640,Sholinganallur,3,0,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
18,6338000,1112,Medavakkam,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2724000,645,Avadi,2,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
27,2234000,604,Kundrathur,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,3388000,738,Tiruvottiyur,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,3175000,804,Perungalathur,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
42,19100000,2474,Iyappanthangal,4,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
43,4065999,701,Manapakkam,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,6500000,1350,Madipakkam,2,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
45,5500000,785,Thiruvanmiyur,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,3500000,538,Ramapuram,1,1,1,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0
47,17000000,1361,Saidapet,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
48,2499000,677,Avadi,2,0,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,0
49,4165999,868,Pammal,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,4875000,920,Madipakkam,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
51,3442000,850,Poonamallee,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,4165000,850,Pammal,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53,5298000,1019,Pallavaram,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,5184000,1080,Pammal,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
55,10000000,1943,Maraimalai Nagar,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
56,6225000,1245,Madambakkam,3,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
57,5599000,817,Perungudi,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,6100000,1185,Iyappanthangal,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df.head(40).duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
27    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
dtype: bool